# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt stuff
*.pro
*.pro.user
*.pro.user.68bc0ba

build-Project2-Desktop_Qt_5_9_1_MSVC2017_64bit-Debug

build-Project2-Desktop_Qt_5_9_1_clang_64bit-Debug

